- @comments.each do |comment|
  .comment-block
    = image_tag comment.commentable.image.url, :class => 'avatar'

    .comment-info
      %span.comment-user
        Comment by
        = comment.commentable.name
      %span.comment-date
        Date
        = comment.created_at.strftime("%d %B %Y %H:%M")
    .comment
      = comment.body
