.category-select {
  width: 200px;
}
body.active_admin li.select-image {
  display: inline-block;
  width: 220px;
  margin: 10px 5px;
  padding: 10px 0;
  box-shadow: 0px 0px 10px;
  border-radius: 10px;
  background-color: rgba(168, 159, 159, 0.38);
  position: relative;
}
.image {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 1px 6px black;
  height: 150px;
  width: 150px;
}
body.active_admin li.select-image .title-image {
  width: 200px;
  margin: 5px auto;
}
body.active_admin ul.parse-list {
  padding: 0;
  text-align: center;
  display: inline-block;
  width: 72%;
}
.send-images {
  margin: 5px 0;
  display: block;
}
.category-select.show {
  display: block;
}
.categories-parse {
  padding: 10px;
}
.categories-parse .image {
  margin: 5px;
}
#draggable {width: 150px; height: 150px; padding: 0.5em;}
#drappable {width: 100%; min-height: 1000px; background-color: grey;}
#parse-category {
  display: inline-block;
  float: right;
  width: 22%;
}
.categories {
  display: block;
}
body.active_admin .category-select-list {
  background: none repeat scroll 0 0 white;
  border-radius: 5px 5px 5px 5px;
  display: none;
  left: 20px;
  padding: 0;
  position: absolute;
  width: 180px;
  z-index: 999999;
}
body.active_admin .category-select-name:hover {
  box-shadow: 0 0 5px #0E6A0D;
  cursor: pointer;
}
body.active_admin .category-select-name {
  box-shadow: 0 0 5px #000000;
  list-style: none outside none;
  margin: 2px auto;
}
body.active_admin .select-category {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px;
  display: block;
  margin: 0 auto 5px;
  width: 180px;
  cursor: pointer;
  background: url('/down.png') no-repeat 95% 50%;
}